body {
  font-family: 'Merriweather', serif;
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration : none;
}

a:hover {
  color: black;
  text-decoration : none;
}

a:active{
  color: black;
  text-decoration : none;
}

.content {
  margin: 20px;
}

button {
  background-color: white;
  border: none;
  display: inline;
  vertical-align: bottom;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.topics {
  
}


.topics-list-item {
  font-size: 24px;
  margin: 20px;
}

.topics-author {
  font-size: 14px;
  font-weight: bold;
}

.topic {
  margin: 20px;
}

.topic-title {
  font-weight: normal;
  margin: 0;
}

.topic-author {
  font-size: 14px;
  font-weight: bold;
}

.choice {
  padding: 10px;
}

.choice-title {
  padding: 10px;
  overflow: hidden;
  font-size: 24px;
  font-weight: normal;
}

.vote-form {
  display: inline-block;
  height: 100%;
  padding: 20px;
  padding-left: 0;
}

.vote-form div {
  padding: 0.4em;
  text-transform: capitalize;
}

.vote-form div > label {
  margin-left: 0.5em;
}

.choice {
  width: 100%;
  clear: left;
}

.choice-container {
  display: inline-block;
}

.votes {
  overflow: hidden;
  padding: 10px;
}

.comment {
  margin: 10px 0;
}

.comment-user {
  font-weight: bold;
  font-size: 12px;
}

.vote {
  display: inline-block;
  margin-left: 1px;
  float: left;
  position: relative;
}

.vote-info {
  position: absolute;
}

.vote.yes {
  width: 40px;
  height: 40px;
  background-color: lime;
}

.vote.ok {
  width: 20px;
  height: 40px;
  background-color: greenyellow;
}

.vote.no {
  width: 40px;
  height: 10px;
  background-color: red;
  margin-top: 1px;
}

.vote-info {
  display: none;
  position: absolute;
}

.yes + .no , .ok + .no  {
  clear: left;
}

.topics-form {
  width: 400px;
}

h2, h3 {
  margin-bottom: 16px;
}

.topics-form label{
  display: block;
  margin-bottom: 8px;
}

.topics-form input[type=text]{
  border: 1px solid lightgrey;
  display: block;
  margin-bottom: 24px;
  padding: 8px;
  width: 100%;
  font-size: 16px;
}

.topics-form textarea {
  border: 1px solid lightgrey;
  margin-bottom: 24px;
  padding: 8px;
  display: block;
  resize: none;
  width: 100%;
  font-size: 16px;
}


.menu {
  color: black;
  background-color: lightgrey;
  padding: 20px;
  line-height: 1em;
}

.menu-title {
  display: inline;
  font-size: 20px;
  font-weight: bold;
  text-shadow: inset 2px 2px #ff0000;
}

.menu-list {
  display: inline;
  float: right;
}

.menu-list-item {
  display: inline;
  margin: 0 10px;
}

.register {
  font-size: 18px;
  width: 300px;
  margin: 40px auto;
}

.register-title {
  background-color: lightgrey;
  display: block;
  font-weight: bold;
  padding: 20px;
  line-height: 1em;
  margin-bottom: 1em;
}

.register label {
  display: block;
  padding: 0 20px;
  font-size: 14px;
  margin: 8px 0;
}

.register input[type=email], .register input[type=text], .register input[type=password] {
  border: 1px solid lightgrey;
  display: block;
  margin: auto;
  margin-bottom: 24px;
  padding: 8px;
  width: 240px;
}

.register-button {
  border: none;
  background-color: lightgrey;
  font-family: inherit;  
  font-size: 14px;
  display: block;
  line-height: 1em;
  margin: 8px 20px;
  padding: 8px 16px;
  float: right;
  cursor: pointer;
}

.login {
  font-size: 18px;
  width: 300px;
  margin: 40px auto;
}

.login-title {
  background-color: lightgrey;
  display: block;
  font-weight: bold;
  padding: 20px;
  line-height: 1em;
  margin-bottom: 1em;
}

.login label {
  display: block;
  padding: 0 20px;
  font-size: 14px;
  margin: 8px 0;
}

.login input[type=text], .login input[type=password] {
  border: 1px solid lightgrey;
  display: block;
  margin: auto;
  margin-bottom: 24px;
  padding: 8px;
  width: 240px;
}

.login-button {
  border: none;
  background-color: lightgrey;
  font-family: inherit;  
  font-size: 14px;
  display: block;
  line-height: 1em;
  margin: 8px 20px;
  padding: 8px 16px;
  float: right;
  cursor: pointer;
}

@keyframes load {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 1;
  }
}

.loading {
  animation-name: load;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}